

<ion-view view-title="Chat">

	<ion-nav-buttons side="left" ng-show="button_top_tab">
		<button class="button icon ion-chevron-left" style="border: none;" ng-click="nav_button_back()"></button>
	</ion-nav-buttons>

	<style type="text/css">
		.textured{
			background: url('img/bgpat.png');
		}
	
		.listx a.slow{
			background-color: rgba(0, 0, 0, 0);
		}
	</style>

    <ion-content class="has-footer textured" scroll-glue>
    	<div class="list listx">
			<a class="item item-avatar {{ chatDetails.picture == null ? 'itemy' : 'itemx' }} item-text-wrap slow" ng-repeat="chatDetails in chatContainer">
				<img src="{{ chatDetails.picture }}" ng-show="chatDetails.picture == null ? false : true">
				<p class="{{ chatDetails.picture == null ? 'chat_right' : 'chat_left' }}">{{ chatDetails.messages }}</p>
				<span class="read-status">R</span>
			</a>
		</div>
    </ion-content>
    <div class="bar bar-footer bar-default" style="padding: 0">
		<label class="item item-input" style="width: 100%; background-color: rgba(0, 0, 0, 0.1); border: none">
	      <input type="text" placeholder="Ketik pesan disini...." id="search_input" style="color: #222">
	    </label>
	   <button class="button button-positive icon ion-paper-airplane pull-right" style="z-index: 99"></button>
	</div>
</ion-view>