<ion-view view-title="Chat">

	<ion-nav-buttons side="left" ng-show="button_top_tab">
		<button class="button icon ion-chevron-left" style="border: none;" ng-click="nav_button_back()"></button>
	</ion-nav-buttons>

    <ion-content>
    	<div class="list listx">
			<a class="item item-avatar itemx item-text-wrap" href="#/chat">
				<img src="img/adam.jpg">
				<p class="chat_left">Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back </p>
			</a>
			<a class="item item-avatar itemy item-text-wrap" href="#/chat">
				<p class="chat_right">Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientism a scientist.</p>
			</a>
			<a class="item item-avatar itemx item-text-wrap" href="#/chat">
				<img src="img/adam.jpg">
				<p class="chat_left">Back off, man. </p>
			</a>
			<a class="item item-avatar itemx item-text-wrap" href="#/chat">
				<img src="img/adam.jpg">
				<p class="chat_left">Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.</p>
			</a>
			<a class="item item-avatar itemy item-text-wrap" href="#/chat">
				<p class="chat_right">Back off, man. I'm a scientist.</p>
			</a>
		</div>
    </ion-content>
    <div class="bar bar-footer bar-default" style="padding: 0">
		<label class="item item-input" style="width: 100%; background-color: rgba(0, 0, 0, 0.1); border: none">
	      <input type="text" placeholder="Ketik pesan disini...." id="search_input" style="color: #222">
	    </label>
	   <button class="button button-positive icon ion-paper-airplane pull-right" style="z-index: 99"></button>
	</div>
</ion-view>