<ion-view>
  <ion-tabs class="tabs-icon tabs-positive">

    <ion-tab title="Dashboard" icon="ion-home" href="#/tab/t_dashboard">
      <ion-nav-view name="dashboard-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profile" icon="ion-person" href="#/tab/t_profile">
      <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Messages" icon="ion-chatbubble" href="#/tab/t_messages">
      <ion-nav-view name="messages-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon="ion-gear-a" href="#/tab/t_settings">
      <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>