<style type="text/css">
  .link{
    cursor: pointer;
    text-decoration: underline;
  }
  h1{
    padding-bottom: 2vh;
  }
</style>
<ion-view view-title="Login" hide-nav-bar="true" has-header="false">
  <ion-content padding="true">
    <h1>Finddor</h1>
    <label class="item item-input">
      <input type="text" placeholder="Username" ng-model="$parent.username">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="$parent.password">
    </label>
    <button class="button button-block button-positive" ng-click="login()">
      Masuk
    </button>
    <div>
      Belum punya akun? <a class="link" ng-click="daftar()">Daftar disini</a>
    </div>
  </ion-content>
</ion-view>
