<ion-view view-title="Search">

	<ion-nav-buttons side="left" ng-show="button_top_tab">
		<button class="button icon ion-chevron-left" style="border: none;" ng-click="nav_button_back()">&nbsp;Back</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-android-search" style="border: none;" ng-click="nav_button_search()"></button>
	</ion-nav-buttons>

    <ion-nav-title>
	    <label class="item item-input" style="width: 100%; background-color: rgba(255, 255, 255, 0.1); border: none">
	      <input type="text" placeholder="Cari..." id="search_input">
	    </label>
    </ion-nav-title>


    <ion-content class="padding">
    </ion-content>
</ion-view>