<ion-view view-title="Setting → Profile">

	<ion-nav-buttons side="left" ng-show="button_top_tab">
		<button class="button icon ion-chevron-left" style="border: none;" ng-click="nav_button_back()"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button" style="/*border: none;*/" ng-click="nav_button_back()">Simpan</button>
	</ion-nav-buttons>

    <ion-content>
    	<div class="list list_setting_profile">

	      <label class="item item-input item-stacked-label">
			<img src="img/ben.png" style="width: 40%; border-radius: 5px;">
			<button class="button button-calm" style="/*border: none;*/" ng-click="nav_button_back()">Ubah Foto Profil</button>
	      </label>
	      <label class="item item-input item-stacked-label">
	        <span class="input-label">Nama Lengkap</span>
	        <input type="text" placeholder="misal: Budi" value="Andrian Putra">
	      </label>
	      <label class="item item-input item-stacked-label">
	        <span class="input-label">Nomor Handphone</span>
	        <input type="text" placeholder="misal: Budi" value="081128419901">
	      </label>
		  <label class="item item-toggle">
		     Availability
		     <label class="toggle toggle-positive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </label>

	      <label class="item item-input item-stacked-label">
	        <span class="input-label">Alamat</span>
	        <input type="text" placeholder="misal: Jl. Teratai" value="Jl. Ganesha 10 Bandung">
	      </label>
	      <label class="item item-input item-stacked-label">
	        <span class="input-label">Deskripsi</span>
	        <textarea placeholder="Deskripsi Anda...">Contoh deskripsi, test, test... test ^^</textarea>
	      </label>
	      <label class="item item-input item-stacked-label">
	        <span class="input-label">Tag</span>
	        <input type="text" placeholder="Isi tag, pisahkan dengan koma" value="fashion, party, books">
	      </label>
	      <label class="item item-input item-stacked-label">
	        <span class="input-label">Email</span>
	        <input type="email" placeholder="" value="andrian@putra.com">
	      </label>
	    </div>
    </ion-content>
</ion-view>