<ion-view view-title="Dashboard">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-ios-bell" style="border: none;" ng-click="nav_button_notifikasi()">0</button>
	</ion-nav-buttons>
  	<a class="fab" href="#/penawaran_baru"></a>
    <ion-content>
    	<div class="row row_val_lab" style="padding: 10px; /*background-color: rgba(0, 0, 0, .1);*/">
			<div class="col value_label value_label_money">
				<div class="value money">
					$870
				</div>
				<div class="label money">
					spent
				</div>
			</div>
			<div class="col value_label value_label_works_done">
				<div class="value works_done">
					37
				</div>
				<div class="label works_done">
					works added
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-rate-star">
				<i class="icon ion-ios-star rate-star"></i>
				<i class="icon ion-ios-star rate-star"></i>
				<i class="icon ion-ios-star rate-star"></i>
				<i class="icon ion-ios-star rate-star"></i>
				<i class="icon ion-ios-star rate-star"></i>
				&nbsp;
				<span class="rate-star-number">2.9</span>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="row">
			<div class="col">
				<center>[ grafik ]]</center>
			</div>
		</div>
    </ion-content>
</ion-view>