<ion-view view-title="Profile">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-android-search" style="border: none;" ng-click="nav_button_search()"></button>
		<button class="button icon ion-ios-bell" style="border: none;" ng-click="nav_button_notifikasi()">0</button>
	</ion-nav-buttons>
  	<a class="fab" href="#/penawaran_baru"></a>
    <ion-content>
	    <div class="row" style="padding: 10px; background-color: rgba(0, 0, 0, .1);">
			<div class="col-75">
				<div style="font-weight: bold;">Andrian Putra</div>
				<div>13514729</div>
				<div>Institut Teknologi Bandung</div>
			</div>
			<div class="col">
				<img src="img/ben.png" style="width: 100%; border-radius: 5px;">
			</div>
		</div>
		<div style="padding: 10px; background-color: rgba(0, 0, 0, .05);text-align: center;">HISTORY</div>
	    <div class="card" ng-repeat="timelineCard in profileCardContainer">

			<div class="item item-avatar" style="background-color: #EEE">
				<img src="{{ timelineCard.picture }}">
				<h2>{{ timelineCard.title }}</h2>
				<p>{{ timelineCard.postDate }}</p>
			</div>

			<style type="text/css">
				.textured{
					background: url('img/bgpat.png');
				}
			</style>

			<div class="item item-body textured">
				<p>
					<b>Budget: {{ timelineCard.budget }}</b><br/>
					<a class="subdued" style="font-weight: bold;"><small><i class="icon ion-clipboard"></i> {{ timelineCard.proposal.n }} (rata-rata:  {{ timelineCard.proposal.avg }})</small></a>
				</p>
				<p>
					{{ timelineCard.briefDesc }}<br/>
					<span style="font-style: italic;"><small><b>Tag:  {{ timelineCard.tags }}</b></small></span><br/>
				</p>
				<div>
					<b><i class="icon ion-calendar"></i></b> {{ timelineCard.dueDate }}
				</div>
			</div>

			<style type="text/css">
				.row-footer, .col-footer, .item-divider-footer{
					padding: 0;
				}
				.button-detail{
					background-color: rgba(56, 126, 245, 0.8);
					color: white;
				}
				.button-bid{
					background-color: rgba(76, 156, 255, 0.8);
					color: white;
				}
			</style>
		</div>
    </ion-content>
</ion-view>