<ion-view view-title="Profile">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-android-search" style="border: none;" ng-click="nav_button_search()"></button>
		<button class="button icon ion-ios-bell" style="border: none;">0</button>
	</ion-nav-buttons>

    <ion-content>
	    <div class="card">

			<div class="item item-avatar">
				<img src="img/mcfly.jpg">
				<h2>Butuh Vendor Katering Makanan</h2>
				<p>makanan, kuliner, party</p>
			</div>

			<div class="item item-body">
				<div>
					<b>Budget: $26</b>
				</div>
				<p>
					Deskripsi kebutuhan disini...
					Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak.
				</p>

				<p>
				  <a class="subdued" style="font-weight: bold;">Proposal Masuk: 25 (rata-rata: Rp 745ribu)</a>
				</p>
			</div>
		</div>

	    <div class="card">

			<div class="item item-avatar">
				<img src="img/mcfly.jpg">
				<h2>Butuh Vendor Katering Makanan</h2>
				<p>makanan, kuliner, party</p>
			</div>

			<div class="item item-body">
				<div>
					<b>Budget: $26</b>
				</div>
				<p>
					Deskripsi kebutuhan disini...
					Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak.
				</p>
				
				<p>
				  <a class="subdued" style="font-weight: bold;">Proposal Masuk: 25 (rata-rata: Rp 745ribu)</a>
				</p>
			</div>
		</div>

	    <div class="card">

			<div class="item item-avatar">
				<img src="img/mcfly.jpg">
				<h2>Butuh Vendor Katering Makanan</h2>
				<p>makanan, kuliner, party</p>
			</div>

			<div class="item item-body">
				<div>
					<b>Budget: $26</b>
				</div>
				<p>
					Deskripsi kebutuhan disini...
					Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak.
				</p>
				
				<p>
				  <a class="subdued" style="font-weight: bold;">Proposal Masuk: 25 (rata-rata: Rp 745ribu)</a>
				</p>
			</div>
		</div>
    </ion-content>
</ion-view>