<ion-view view-title="Profile">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-android-search" style="border: none;" ng-click="nav_button_search()"></button>
		<button class="button icon ion-ios-bell" style="border: none;" ng-click="nav_button_notifikasi()">0</button>
	</ion-nav-buttons>
  	<a class="fab" href="#/penawaran_baru"></a>
    <ion-content>
	    <div class="row" style="padding: 10px; background-color: rgba(0, 0, 0, .1);">
			<div class="col-75">
				<div style="font-weight: bold;">Andrian Putra</div>
				<div>13514729</div>
				<div>Institut Teknologi Bandung</div>
			</div>
			<div class="col">
				<img src="img/ben.png" style="width: 100%; border-radius: 5px;">
			</div>
		</div>
		<div style="padding: 10px; background-color: rgba(0, 0, 0, .05);text-align: center;">HISTORY</div>
	    <div class="card">

			<div class="item item-avatar">
				<img src="img/mcfly.jpg">
				<h2>Butuh Vendor Katering Makanan</h2>
				<p>makanan, kuliner, party</p>
			</div>

			<div class="item item-body">
				<div>
					<b>Budget: $26</b>
				</div>
				<p>
					Deskripsi kebutuhan disini...
					Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak.
				</p>

				<p>
				  <a class="subdued" style="font-weight: bold;">Proposal Masuk: 25 (rata-rata: Rp 745ribu)</a>
				</p>
			</div>
		</div>

	    <div class="card">

			<div class="item item-avatar">
				<img src="img/mcfly.jpg">
				<h2>Butuh Vendor Katering Makanan</h2>
				<p>makanan, kuliner, party</p>
			</div>

			<div class="item item-body">
				<div>
					<b>Budget: $26</b>
				</div>
				<p>
					Deskripsi kebutuhan disini...
					Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak.
				</p>
				
				<p>
				  <a class="subdued" style="font-weight: bold;">Proposal Masuk: 25 (rata-rata: Rp 745ribu)</a>
				</p>
			</div>
		</div>

	    <div class="card">

			<div class="item item-avatar">
				<img src="img/mcfly.jpg">
				<h2>Butuh Vendor Katering Makanan</h2>
				<p>makanan, kuliner, party</p>
			</div>

			<div class="item item-body">
				<div>
					<b>Budget: $26</b>
				</div>
				<p>
					Deskripsi kebutuhan disini...
					Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak.
				</p>
				
				<p>
				  <a class="subdued" style="font-weight: bold;">Proposal Masuk: 25 (rata-rata: Rp 745ribu)</a>
				</p>
			</div>
		</div>
    </ion-content>
</ion-view>