<ion-view view-title="Dashboard" ng-init="myInit()">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-ios-bell" style="border: none;" ng-click="nav_button_notifikasi()">0</button>
	</ion-nav-buttons>
    <ion-content>
    	<div class="row row_val_lab" style="padding: 10px; /*background-color: rgba(0, 0, 0, .1);*/">
			<div class="col value_label value_label_money">
				<div class="value money">
					{{ bindVal_money }}
				</div>
				<div class="label money">
					Didapatkan
				</div>
			</div>
			<div class="col value_label value_label_works_done">
				<div class="value works_done">
					{{ bindVal_works }}
				</div>
				<div class="label works_done">
					Pekerjaan Selesai
				</div>
			</div>
		</div>
		<div class="row" style="background-color: rgba(0, 0, 0, .1);">
			<div class="col col-rate-star">
				<i class="icon ion-ios-star rate-star {{ bindVal_rating >= 0.50 ? 'blue' : '' }}"></i>
				<i class="icon ion-ios-star rate-star {{ bindVal_rating >= 1.50 ? 'blue' : '' }}"></i>
				<i class="icon ion-ios-star rate-star {{ bindVal_rating >= 2.50 ? 'blue' : '' }}"></i>
				<i class="icon ion-ios-star rate-star {{ bindVal_rating >= 3.50 ? 'blue' : '' }}"></i>
				<i class="icon ion-ios-star rate-star {{ bindVal_rating >= 4.50 ? 'blue' : '' }}"></i>
				&nbsp;
				<span class="rate-star-number">{{ bindVal_rating }}</span>
			</div>
		</div>
		<div style="padding: 10px; background-color: rgba(0, 0, 0, .05); font-weight: bold;">Order yang sedang Anda kerjakan</div>

		<div class="card" ng-repeat="timelineCard in dashboardCardContainer">

			<div class="item item-avatar" style="background-color: #EEE">
				<img src="{{ timelineCard.picture }}">
				<h2>{{ timelineCard.title }}</h2>
				<p>{{ timelineCard.postDate }}</p>
			</div>

			<style type="text/css">
				.textured{
					background: url('img/bgpat.png');
				}
			</style>

			<div class="item item-body textured">
				<div class="row row-star-timeline">
					<div class="col col-rate-timeline">
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 0.50 ? 'blue' : '' }}"></i>
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 1.50 ? 'blue' : '' }}"></i>
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 2.50 ? 'blue' : '' }}"></i>
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 3.50 ? 'blue' : '' }}"></i>
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 4.50 ? 'blue' : '' }}"></i>
						&nbsp;
						<span class="timeline-star-number">{{ timelineCard.star }}</span>
					</div>
				</div>
				<p>
					<b>Budget: {{ timelineCard.budget }}</b><br/>
					<b>Bid: {{ timelineCard.bid }}</b><br/>
				</p>
				<p>
					{{ timelineCard.briefDesc }}<br/>
					<span style="font-style: italic;"><small><b>Tag:  {{ timelineCard.tags }}</b></small></span><br/>
				</p>
				<div>
					<b><i class="icon ion-calendar"></i></b> {{ timelineCard.dueDate }}
				</div>
			</div>

			<style type="text/css">
				.row-footer, .col-footer, .item-divider-footer{
					padding: 0;
				}
				.button-detail{
					background-color: rgba(56, 126, 245, 0.8);
					color: white;
				}
				.button-bid{
					background-color: rgba(76, 156, 255, 0.8);
					color: white;
				}
			</style>
			<div class="item item-divider item-divider-footer">
			    <div class="row row-footer">
			    	<div class="col-50 col-footer">
			    		<button class="button button-detail" style="border-radius: 0;width: 100%;/*border: none;*/" ng-click="">Detail</button>
			    	</div>
			    	<div class="col-50 col-footer">
			    		<button class="button button-bid" style="border-radius: 0; width: 100%;/*border: none;*/" ng-click="">Selesai</button>
			    	</div>
			    </div>
			</div>
		</div>
    </ion-content>
</ion-view>
