<ion-view view-title="Messages">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-ios-bell" style="border: none;" ng-click="nav_button_notifikasi()">0</button>
	</ion-nav-buttons>
    <ion-content>

	    <div class="list list_messages">
			<a class="item item-avatar" ng-click="gotoChat(chat.parent_id)" ng-repeat="chat in chatContainer">
				<img src="{{ chat.picture }}">
				<h2>{{ chat.name }}</h2>
				<p>{{ chat.summary_msg }}</p>
			</a>
		</div>
    </ion-content>
</ion-view>