<ion-view view-title="Messages">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-ios-bell" style="border: none;" ng-click="nav_button_notifikasi()">0</button>
	</ion-nav-buttons>
    <ion-content>

	    <div class="list list_messages">
			<a class="item item-avatar" href="#/chat">
				<img src="img/adam.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
			</a>
			<a class="item item-avatar" href="#/chat">
				<img src="img/adam.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
			</a>
			<a class="item item-avatar" href="#/chat">
				<img src="img/adam.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
			</a>
			<a class="item item-avatar" href="#/chat">
				<img src="img/adam.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
			</a>
		</div>
    </ion-content>
</ion-view>