<ion-view view-title="Profile">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-ios-bell" style="border: none;" ng-click="nav_button_notifikasi()">0</button>
	</ion-nav-buttons>
    <ion-content>
	    <div class="row" style="padding: 10px; background-color: rgba(0, 0, 0, .1);">
			<div class="col-75">
				<div style="font-weight: bold;">Andrian Putra</div>
				<div>13514729</div>
				<div>Institut Teknologi Bandung</div>
			</div>
			<div class="col">
				<img src="img/ben.png" style="width: 100%; border-radius: 5px;">
			</div>
		</div>
		<!-- <div style="padding: 10px; background-color: rgba(0, 0, 0, .05);text-align: center;">HISTORY</div> -->
    </ion-content>
</ion-view>