<ion-view view-title="Profile">
	<ion-nav-buttons side="right" ng-show="button_top_tab">
		<button class="button icon ion-android-search" style="border: none;" ng-click="nav_button_search()"></button>
		<button class="button icon ion-ios-bell" style="border: none;" ng-click="nav_button_notifikasi()">0</button>
	</ion-nav-buttons>
    <ion-content>
	    <div class="card" ng-repeat="timelineCard in cardContainer">

			<div class="item item-avatar">
				<img src="{{ timelineCard.picture }}">
				<h2>{{ timelineCard.title }}</h2>
				<p>{{ timelineCard.postDate }}</p>
			</div>

			<div class="item item-body">
				<div class="row row-star-timeline">
					<div class="col col-rate-timeline">
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 0.50 ? 'blue' : '' }}"></i>
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 1.50 ? 'blue' : '' }}"></i>
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 2.50 ? 'blue' : '' }}"></i>
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 3.50 ? 'blue' : '' }}"></i>
						<i class="icon ion-ios-star timeline-star {{ timelineCard.star >= 4.50 ? 'blue' : '' }}"></i>
						&nbsp;
						<span class="timeline-star-number">{{ timelineCard.star }}</span>
					</div>
				</div>
				<p>
					<b>Budget: {{ timelineCard.budget }}</b><br/>
					<a class="subdued" style="font-weight: bold;"><small><i class="icon ion-clipboard"></i> {{ timelineCard.proposal.n }} (rata-rata:  {{ timelineCard.proposal.avg }})</small></a>
				</p>
				<p>
					{{ timelineCard.briefDesc }}<br/>
					<span style="font-style: italic;"><small><b>Tag:  {{ timelineCard.tags }}</b></small></span><br/>
				</p>
				<div>
					<b><i class="icon ion-calendar"></i></b> {{ timelineCard.dueDate }}
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>